<!DOCTYPE html>
<!-- reminder for Samantha: this is the HTML that applies to every page in the application -->
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> <!-- insert contents of _shim.html.erb -->
</head>
<body>
  <%= render 'layouts/header' %>  <!-- insert contents of _header.html.erb -->
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %> <!-- insert contents of _footer.html.erb -->
    <%= debug(params) if Rails.env.development? %>    <!-- desplay debug information only if we're in development environment  -->
  </div>
</body>
</html>
